h1, h2 {
    text-align: center;
}

img.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.nav_bar ul li:first-child {
  float: left;
  margin-left: 1%;
}
.nav_bar ul li {
  display: inline-block;
  list-style: none;
  float: right;
  margin: 10px 30px 5px;
  font-size: 16pt;
  color: #fff;
}

.nav_bar a {
  text-decoration: none;
  color: #fff;
}

#acm a:hover {
  color: #add8e6;
  text-align: left;
}
#facebook a:hover  {
  color: #3b5998;
  align-items: flex-end;
}
#youtube a:hover {
  color: #ff0000;
}
