h1, h2 {
    text-align: center;
}

img.logo {
  margin-top: 2.5em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar ul li:first-child {
  float: left;
  margin-left: 1%;
}
.navbar ul li {
  display: inline-block;
  list-style: none;
  float: right;
  margin: 1% 2%;
  font-size: 1.5em;
  color: #fff;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

#acm a:hover {
  color: #add8e6;
  text-align: left;
}
#facebook a:hover  {
  color: #3b5998;
  align-items: flex-end;
}
#youtube a:hover {
  color: #ff0000;
}
